.create-quiz {
    padding-top: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 10rem;

}
.nav-project{
    display: flex;
    justify-content: space-around;

}
.btn-admin{
    text-decoration-color: white;
    border: solid 1px black;
    border-radius: 25%;
    height: 1.5rem;
    width: 10rem;
    text-align: center;

}
.select{
    height: 1.5rem;
    width: 200px;
}