body {

    margin: 0;
    padding: 0;
    background: radial-gradient(66.5% 221.21% at 136.03% -61.44%,rgba(161,155,217,.4) 0%,rgba(161,155,217,0) 92.09%),radial-gradient(93.54% 126.91% at 29.15% -56.29%,rgba(233,69,96,.7) 0%,rgba(233,69,96,0) 92.09%),radial-gradient(86.19% 101.84% at -17.13% -24.8%,rgba(0,162,254,.7) 0%,rgba(0,162,254,0) 92.09%),#1a1a2e;
    font-family: 'applejuice', sans-serif;
}

.main {

    width: 100%;
    height: 500px;
}

.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0.5) 100%
    );
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 50%;
    margin: 0 auto;
}



.contact-form h2 {
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.5em;
    font-family: var(--font1);
}

.firstName, .lastName, .email, .userName, .password, .password_retype {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.firstName label, .lastName label, .email label, .userName label, .password label, .password_retype label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.firstName input, .lastName input, .email input, .userName input, .password input, .password_retype input {
    padding: 0.5em;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;

}

input {
    font-size: small;
}

.submit input[type="submit"] {
    background-color: #2130ed;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    font-family: var(--font1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit input[type="submit"]:hover {
    background-color: #48ef35;
}